<body>
  <div class="center jumbotron" class="bckimg">
    <h1>Lab Database</h1>
    <h2>
      Plasmids . Seeds . Oligos
    </h2>
    <%= link_to "Oligo Database", oligos_path, class: "btn btn-sm" %><br><br>
    <%= link_to "Seed Database", seeds_path, class: "btn btn-sm" %><br><br>
    <%= link_to "Plasmid Database", plasmids_path, class: "btn btn-sm" %><br><br><br><br><br>
    <%= link_to "Sign Up", signup_path, class: "btn btn-sm" %>
  </div>


</body>    
   
 
